.sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F8D46;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
}

.sum .logo {
  margin-left: 1rem;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

.sum .item {
  display: flex;
}
.sum .item .ul {
  display: flex;
  list-style: none;
  margin: 25px;
}

.sum .item .ul .li {
  margin: 0 1rem;
  color: white;
  cursor: pointer;
}

.sum .item .ul .li a {
  text-decoration: none;
  color: white;
}
